POSTGRES_PRISMA_URL="postgresql://user:password@localhost:5432/epixtrip_dev?schema=public"
JWT_SECRET='SECRET'
PORT=3001
NODE_ENV=development
CORS_ORIGIN=http://localhost:3000

# Email (SMTP )
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=email@gmail.com
SMTP_PASS=password
EMAIL_FROM=EpixTrip <no-reply@epixtrip.com>
APP_URL=http://localhost:3000